<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>카드 페이지 제목</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/css/card.css" />
    <script src="/js/card.js" defer></script>
  </head>
  <body>
    <%- include('includes/header') %>
    <div class="card">
      <h2 class="card-name">카드 제목</h2>
      <p class="card-content">카드 내용</p>
      <p class="end-date">마감일</p>
      <div class="card-user">유저 정보</div>
      <button class="edit-btn">수정하기</button>
      <button class="delete-btn">삭제하기</button>
    </div>

    <div class="comment">
      <p class="comment-author">작성자명</p>
      <p class="comment-content">댓글 내용</p>
      <button class="edit-comment-btn">수정</button>
      <button class="delete-comment-btn">삭제</button>
    </div>
  </body>
</html>
<!-- name, content, color, endDate, user -->
