<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/card-edit.css" />
    <script src="/js/card-edit.js" defer></script>
  </head>
  <body>
    <h2>카드 수정페이지입니다.</h2>
    <p>이름</p>
    <input class="name-input" type="text" />
    <p>설명</p>
    <input class="content-input" type="text" />
    <select class="color">
      <option value="WHITE">베이지색</option>
      <option value="RED">붉은색</option>
      <option value="GREEN">녹색</option>
    </select>
    <button class="edit-btn">수정하기</button>
  </body>
</html>
